*{
	margin:0;
	padding:0;
	
}
div.firstpart{
width:100%;
height:100%;
background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(one.jpg);
background-size:cover;
background-position:center;
	
}
h1{
	font-family:tahoma;
	font-size:45px;
	text-align:flex;
	color:#fff;
	width:420px;
	height:120px;
	margin-left:35%;
	margin-top:8%;
	font-family:Sans-serif;
	
	
}
#pra{
   font-size:25px;
   font-family:tahoma;
   color:white;
   padding-left:150px;
   padding-bottom:20px;
   padding-top:55px;
   padding-right:0;
   font-family:Sans-serif;
   font-weight:bold;
	
}
#logo{
	width:40px;
	height:40px;
   padding-left:100px;
   padding-top:20;
	margin-top:30px;
	display:inline;
	float:left;
	
}
img.two{
	width:90px;
	height:90px;
	padding-bottom:25px;

}
div.navigationbar
{
position:absolute;
height:150px;
width:640px;
margin-top:380px;
margin-left:330px;
font-size:22px;
color:#555;
font-family:tahoma;
background-color:#fff;
border:1px solid lightblue;
display:flex;
align-items:center;
border-radius:10px;

}
div.secondpart{
	width:100%;
	height:110%;
	
	margin-top:100px;
	
}
#five{
	width:580px;
	height:380px;
	margin-top:140px;
	margin-left:70px;
	display:inline;
	float:left;
	
}

#p2{
 position:absolute;
 text-align:left;
 width:500px;
 font-size:20px;
 margin-left:700px;
 height:120px;
 color:#555;
 margin-top:250px;
font-family:Sans-serif;
 
}
#h2{
	position:absolute;
    width:300px;
	 margin-left:700px;
	 margin-top:150px;
	 font-size:40px;
	 font-family:Sans-serif;

	
}

#btnreadmore{
	
	width:150px;
	height:60px;
	color:white;
	border-radius:10px;
	margin-top:430px;
	margin-left:50px;
	background-color:#fff;
	font-family:Sans-serif;
	background-color:lightblue;
	font-size:25px;
	font-weight:bold;
	background-color:rgb(23,188,230);
	border:2px solid  rgb(23,188,230);
}
#thirdpart{
	width:100%;
	height:200%;
	display:float;
	background-color:rgb(247,247,247);
	

	
}
h3{
	
	width:300px;
	height:20px;
	font-size:40px;
	margin-left:450px;
	margin-top:150px;
	font-family:Sans-serif;

	
}
#six{
	width:600px;
	height:300px;
	margin-left:500px;
	margin-top:50px;
	
}
#seven{
	position:absolute;
	width:300px;
	height:600px;
	margin-left:150px;
	margin-top:220px;
}
#logo2{
	position:absolute;
	width:60px;
	height:60px;
	margin-left:580px;
	margin-top:550px;
}

#eight{
	position:absolute;
	margin-left:150px;
	margin-top:700px;
	
}
#nine{
	position:absolute;
	width:400px;
	height:500px;
	margin-left:760px;
    margin-top:520px;	
}
#seemorebtn{
	position:absolute;
	width:150px;
	height:60px;
	color:white;
	border-radius:10px;
	margin-top:500px;
	margin-left:550px;
	font-family:Sans-serif;
	font-size:25px;
	background-color:lightblue;
	font-weight:bold;
	background-color:rgb(23,188,230);
	border:2px solid  rgb(23,188,230);
	
}

#fourthpart{
	height:40%;
	width:100%;
	
}
#fifthpart{
	height:65%;
	width:100%;
	
	background-color:lightblue;
	position:absolute;
	background-color:rgb(23,188,230);
}
#titl{
	position:absolute;
	margin-top:80px;
	margin-left:100px;
	font-size:30px;
	width:400px;
	display:inline;
	color:white;
	font-family:Sans-serif;
	
}
#tit{
	position:absolute;
	font-size:30px;
	margin-left:750px;
	margin-top:80px;
	width:400px;
	color:white;
	font-family:Sans-serif;

}
#p3{
	margin-top:180px;
	font-size:30px;
	color:white;
	margin-left:100px;
font-family:Sans-serif;

}
#name{
	position:absolute;
	margin-top:140px;
	margin-left:750px;
    width:400px;
    height:50px;
   border-radius:10px;

	
	}
#email{
position:absolute;
	
	margin-top:220px;
	margin-left:750px;
    width:400px;
    height:50px;
   border-radius:10px;
}
#btnsend{
	position:absolute;
	margin-left:970px;
	margin-top:300px;

	width:180px;
	height:60px;
	border-radius:5px;
	font-size:30px;
	font-weight:30px;
	background-color:lightblue;
	color:white;
    font-family:Sans-serif;
    font-weight:bold;
	background-color:rgb(23,188,230);
	border:2px solid white;
	
	
}











